@media screen {
    
}
body{
    width:100vw;
    height:100vh

}
form{
    width:40vw;
    height:60vh;
    border: 1px solid black;
    box-shadow: 2px 2px 2px solid rgb(71, 62, 62);
    margin:auto;
    padding: 2%;

    a{
        text-decoration: none;
        color: black;
    }
    /* .form-contents{
        display:;
    } */
    #name{
        margin:1% 0 4% 0;
        width:39vw;
        height:3vh
    }
    #email{
        margin: 1% 0 4% 0;
        width:39vw;
        height:3vh;
    }
    #password{
        margin: 1% 0 4% 0;
        width:39vw;
        height: 3vh;
    }

    button{
        margin: 5% 40%;
        justify-content: center;
    }
}
